.section-cards-contact{
    padding: 20px 0px;
}

.section-cards-contact .row > div:nth-child(1) .card {
  background-color: var(--primary);
  border-radius: var(--border-radius-rounded);
  cursor: pointer;
}
.section-cards-contact .row > div:nth-child(1) .card h3,
.section-cards-contact .row > div:nth-child(1) .card p,
.section-cards-contact .row > div:nth-child(1) .card i {
  color: var(--white) !important;
}

.section-cards-contact .row > div:nth-child(2) .card {
  background-color: var(--secondary);
  border-radius: var(--border-radius-rounded);
  cursor: pointer;
}

.section-cards-contact .row > div:nth-child(2) .card h3,
.section-cards-contact .row > div:nth-child(2) .card p,
.section-cards-contact .row > div:nth-child(2) .card i {
  color: var(--darkPrimary) !important;
}

.section-cards-contact .row > div:nth-child(3) .card {
  background-color: var(--accent);
  border-radius: var(--border-radius-rounded);
  cursor: pointer;
}
.section-cards-contact .row > div:nth-child(3) .card h3,
.section-cards-contact .row > div:nth-child(3) .card p,
.section-cards-contact .row > div:nth-child(3) .card i {
  color: var(--darkPrimary) !important;
}